core:
#  labelWhiteList:
#  noPublish: false
  sleepInterval: 5s
  sources: [custom]
#  klog:
#    addDirHeader: false
#    alsologtostderr: false
#    logBacktraceAt:
#    logtostderr: true
#    skipHeaders: false
#    stderrthreshold: 2
#    v: 0
#    vmodule:
##   NOTE: the following options are not dynamically run-time configurable
##         and require a nfd-worker restart to take effect after being changed
#    logDir:
#    logFile:
#    logFileMaxSize: 1800
#    skipLogHeaders: false
sources:
  custom:
#    - name: "my.kernel.feature"
#      matchOn:
#        - loadedKMod: ["example_kmod1", "example_kmod2"]
#    - name: "my.pci.feature"
#      matchOn:
#        - pciId:
#            class: ["0200"]
#            vendor: ["15b3"]
#            device: ["1014", "1017"]
#        - pciId :
#            vendor: ["8086"]
#            device: ["1000", "1100"]
#    - name: "my.usb.feature"
#      matchOn:
#        - usbId:
#          class: ["ff"]
#          vendor: ["03e7"]
#          device: ["2485"]
#        - usbId:
#          class: ["fe"]
#          vendor: ["1a6e"]
#          device: ["089a"]
#    - name: "my.combined.feature"
#      matchOn:
#        - pciId:
#            vendor: ["15b3"]
#            device: ["1014", "1017"]
#          loadedKMod : ["vendor_kmod1", "vendor_kmod2"]
#    - name: "feature.by.nodename"
#      value: customValue
#      matchOn:
#        - nodename: ["worker-0", "my-.*-node"]
